version: "3.9"

services:
  focus-track-postgres:
    image: postgres:16
    container_name: focus-track-postgres
    restart: always
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    networks:
      - focustrack
    expose:
      - 5432
    volumes:
      - ./database:/var/lib/postgresql/data

  focus-track-api:
    image: ghcr.io/cstefc/focus-track-api:latest
    container_name: focus-track-api
    labels:
      com.centurylinklabs.watchtower.enable: "true"
    depends_on:
      - focus-track-postgres
    restart: unless-stopped
    environment:
      DATABASE_HOST: focus-track-postgres
      DATABASE_PORT: 5432
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      FIREBASE_KEY_PATH: "/app/private-key.json"
      SERVER_PORT: ${SERVER_PORT}
      CORS_ALLOWED_ORIGINS: ${CORS_ALLOWED_ORIGINS}
    volumes:
      - ./secrets/private-key.json:/app/private-key.json:ro
    networks:
      - focustrack
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}

networks:
  focustrack:
    external: true